<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Рубрик</title>
</head>

<body>

    <div id="list"></div>


    <form action="" id="rubric_form" method="POST">
        <input type="hidden" name="id" id="id">
        <p>Название: <input name="name" id="name""></p>
        <p> <input type="reset" value="Очистить"></p>
        <input type="submit" value="Сохранить">
    </form>


    <script type="text/javascript" src="rubrics.js"></script>

</body>

</html>