{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark-theme">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/alfabit-ui.46755359.css'%}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/exchange-rate.ed21c013.css'%}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/ui-modal.f1822e6e.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/index.e38cf7fd.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/index.page.b394866a.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/index.page.ec145603.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/user-avatar.a8f33caf.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/ui-copy.00707aa2.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/ui-property.b512551e.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/_default.page.client.75f49c73.css' %}"
    />
    <meta charset="UTF-8" />
    <link rel="icon" />
    <link
      id="favicon"
      rel="icon"
      type="image/png"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIBSURBVHgBpVK9axRREJ95t6JYnXClwdO/YKOdEry0VosgqARu05h0XuwEcXMgBAtREVFJcXdV2oud1W3A4sTCjz/ARCy0c7PZj7dfb5y9yy2S7IVAhn0wOzNv5vd+vwE4oeG0xMby7/pphAGi6KYq3rr1dsYuq9OmNVDxniXzCShMpTKD3dmyOlEW7Cx8bkjpmZH0u2HkVmUcXFi/M2zBcZ/w+qa9zZO/EikdUNj5FAXKiDO6uNKfd458wrMb700Z+bnr5N0JyOGjIwi+mFkcWpmKYK3RqavKmQEItElBUwAu4im1lSX4A5Da3G01yeR82160SxF4WWJhmhIbkwebTz7e6+Xxx1fX2wqpyUGbczmKokFBYktfq8vAa0q595OPmaR+AdUNvJcy8s6FobvD5F5v6U+NSa4ycS7X5jqZSj6lidTTNO4///KwN8kN/3yQV2pzUZJGS0ol7zJKWtfO6r2hM5QjBOalByyZZ0Sh68jYh8wP23DAXn1/9IKRffOD3XoYeFVXE/cLEu/OLG0joA0juXBz49ebPpTYwvnlBiENmOAuk2qoNJ5Fo3Z7VYCwCOAvIu3SIXkwlxJgdNBBwh3+rwoUoLiTFscBMLMdPLRU4/X5z7ic14qIG6AlEHqKwNSYXYeUslg5YulwPGg8MP+K2D4YroP9YUZFaAac1P4BT+kLop4GUAkAAAAASUVORK5CYII="
      sizes="16x16"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />
    <!-- Google tag (gtag.js) -->
    <meta name="yandex-verification" content="19c803afcd028988" />
    <meta
      name="google-site-verification"
      content="fsBsBbkgzOvLWaH5Gm5YUJSEuTfXK1sVkQ2LNAa8XVI"
    />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T9XSB23");
    </script>
    <!-- End Google Tag Manager -->
    <title>
      Exchange cryptocurrencies | Reliably and quickly sell cryptocurrencies at
      a favorable rate
    </title>
    <meta
      name="description"
      content="Reliable cryptocurrency exchange at a favorable rate. Large volumes of reserves. Selling, exchanging cryptocurrencies at digital currency exchange"
    />
    <meta
      name="norton-safeweb-site-verification"
      content="oh8a80tgtkwchpvfz9m5mpya8eey3c1e5-r6zp7njggcxefh5a---76dfjffanoaeslrgcoeyyutada7zk4vafi85geqgwgi833mivtkmw0cp64qeebw1j3kkecf4oyw"
    />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-T9XSB23"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="app">
      <!--[--><!--[-->
      <header class="app-header" data-v-1525a310>
        <div class="container" data-v-1525a310>
          <div class="app-header__content" data-v-1525a310>
            <div class="app-header__logo" data-v-1525a310>
              <!--[--><a href="{% url 'index' %}" data-v-9e366311
                ><img style="width: 150px; border-radius: 50%;"
                  class="app-logo"
                  src="{% static 'logo.jpg' %}"
                  alt="Alfabit exchange"
                  draggable="false"
                  data-v-9e366311 /></a
              ><!--]-->
              <div
                class="ui-dropdown apps-list mobile-up"
                data-v-1525a310
                data-v-4f604a22
              >
                <div class="ui-dropdown__wrapper" tabindex="0">
                  <div class="ui-dropdown__control">
                    <!--[-->
                    <div class="apps-icon" data-v-4f604a22 data-v-b8423e28>
                      <div class="apps-icon__wrapper" data-v-b8423e28>
                        <div class="apps-icon__element" data-v-b8423e28></div>
                        <div class="apps-icon__element" data-v-b8423e28></div>
                        <div class="apps-icon__element" data-v-b8423e28></div>
                        <div class="apps-icon__element" data-v-b8423e28></div>
                      </div>
                      <i
                        class="apps-icon__chevron icon-caret-down"
                        data-v-b8423e28
                      ></i>
                    </div>
                    <!--]-->
                  </div>
                  <!---->
                </div>
                <!---->
                <div style="display: none" class="ui-dropdown__content">
                  <div class="ui-dropdown__handle-wrapper">
                    <div class="ui-dropdown__handle"></div>
                  </div>
                  <div class="ui-dropdown__inner">
                    <!--[-->
                    <div class="apps-list__links" data-v-4f604a22>
                      <!--[--><a
                        href="https://alfabit.org/en/ecosystem"
                        class="app-link apps-list__item"
                        fulldescription="ecosystem_products.group_full_description"
                        target="_blank"
                        data-v-4f604a22
                        data-v-bed050d0
                        ><img
                          class="app-icon app-link__icon"
                          src="{% static 'product/group_new.svg' %}"
                          data-v-bed050d0
                        />
                        <div data-v-bed050d0>
                          <div class="app-link__title-wrapper" data-v-bed050d0>
                            <span class="app-link__title" data-v-bed050d0
                              >AlfaBit Group</span
                            ><!---->
                          </div>
                          <div class="app-link__description" data-v-bed050d0>
                            AlfaBit Group ecosystem
                          </div>
                        </div>
                        <i
                          class="app-link__arrow icon-caret-right"
                          data-v-bed050d0
                        ></i> </a
                      ><a
                        href="https://alfabit.org/en/exchange"
                        class="app-link apps-list__item"
                        fulldescription="Обменивайте электронные валюты 24/7 быстро, безопасно и по самому выгодному курсу"
                        target="_blank"
                        data-v-4f604a22
                        data-v-bed050d0
                        ><img
                          class="app-icon app-link__icon"
                          src="{% static 'product/exchange_new.svg' %}"
                          data-v-bed050d0
                        />
                        <div data-v-bed050d0>
                          <div class="app-link__title-wrapper" data-v-bed050d0>
                            <span class="app-link__title" data-v-bed050d0
                              ></span
                            ><!---->
                          </div>
                          <div class="app-link__description" data-v-bed050d0>
                            Exchange service
                          </div>
                        </div>
                        <i
                          class="app-link__arrow icon-caret-right"
                          data-v-bed050d0
                        ></i> </a
                      ><a
                        href="https://alfabit.org/en/pay"
                        class="app-link apps-list__item"
                        fulldescription="Выставляйте счета, получайте платежи вашего бизнеса в криптовалюте и управляйте ими просто и удобно"
                        target="_blank"
                        data-v-4f604a22
                        data-v-bed050d0
                        ><img
                          class="app-icon app-link__icon"
                          src="{% static 'product/pay_new.svg' %}"
                          data-v-bed050d0
                        />
                        <div data-v-bed050d0>
                          <div class="app-link__title-wrapper" data-v-bed050d0>
                            <span class="app-link__title" data-v-bed050d0
                              >AlfaBit Pay</span
                            ><!---->
                          </div>
                          <div class="app-link__description" data-v-bed050d0>
                            Payment system
                          </div>
                        </div>
                        <i
                          class="app-link__arrow icon-caret-right"
                          data-v-bed050d0
                        ></i> </a
                      ><a
                        href="https://alfabit.org/en/ai"
                        class="app-link apps-list__item"
                        fulldescription="ecosystem_products.ai_full_description"
                        target="_blank"
                        data-v-4f604a22
                        data-v-bed050d0
                        ><img
                          class="app-icon app-link__icon"
                          src="{% static 'product/ai_new.svg' %}"
                          data-v-bed050d0
                        />
                        <div data-v-bed050d0>
                          <div class="app-link__title-wrapper" data-v-bed050d0>
                            <span class="app-link__title" data-v-bed050d0
                              >AlfaBit AI</span
                            ><!---->
                          </div>
                          <div class="app-link__description" data-v-bed050d0>
                            Искусственный интеллект
                          </div>
                        </div>
                        <i
                          class="app-link__arrow icon-caret-right"
                          data-v-bed050d0
                        ></i> </a
                      ><a
                        href="https://alfabit.org/en/wallet"
                        class="app-link apps-list__item"
                        fulldescription="Безопасно и быстро получайте, отправляйте, храните более 1 500 криптовалют в одном месте"
                        target="_blank"
                        data-v-4f604a22
                        data-v-bed050d0
                        ><img
                          class="app-icon app-link__icon"
                          src="{% static 'product/wallet_new.svg' %}"
                          data-v-bed050d0
                        />
                        <div data-v-bed050d0>
                          <div class="app-link__title-wrapper" data-v-bed050d0>
                            <span class="app-link__title" data-v-bed050d0
                              >AlfaBit Wallet</span
                            ><!---->
                          </div>
                          <div class="app-link__description" data-v-bed050d0>
                            Multicurrency wallet
                          </div>
                        </div>
                        <i
                          class="app-link__arrow icon-caret-right"
                          data-v-bed050d0
                        ></i> </a
                      ><span
                        href="#"
                        class="app-link app-link--soon apps-list__item"
                        fulldescription="Криптовалютная биржа"
                        data-v-4f604a22
                        data-v-bed050d0
                        ><img
                          class="app-icon app-link__icon"
                          src="{% static 'product/trade_new.svg' %}"
                          data-v-bed050d0
                        />
                        <div data-v-bed050d0>
                          <div class="app-link__title-wrapper" data-v-bed050d0>
                            <span class="app-link__title" data-v-bed050d0
                              >AlfaBit Trade</span
                            ><span
                              class="soon-badge app-link__soon-badge"
                              data-v-bed050d0
                              data-v-3512b00f
                              >soon</span
                            >
                          </div>
                          <div class="app-link__description" data-v-bed050d0>
                            Trade
                          </div>
                        </div>
                        <i
                          class="app-link__arrow icon-caret-right"
                          data-v-bed050d0
                        ></i> </span
                      ><a
                        href="https://alfabit.org/en/aml"
                        class="app-link apps-list__item"
                        fulldescription="Проверяйте риск кошельков и транзакций, защищайте себя от мошенников и незаконных средств"
                        target="_blank"
                        data-v-4f604a22
                        data-v-bed050d0
                        ><img
                          class="app-icon app-link__icon"
                          src="{% static 'product/aml_new.svg' %}"
                          data-v-bed050d0
                        />
                        <div data-v-bed050d0>
                          <div class="app-link__title-wrapper" data-v-bed050d0>
                            <span class="app-link__title" data-v-bed050d0
                              >AlfaBit AML</span
                            ><!---->
                          </div>
                          <div class="app-link__description" data-v-bed050d0>
                            Crypto transactions analysis
                          </div>
                        </div>
                        <i
                          class="app-link__arrow icon-caret-right"
                          data-v-bed050d0
                        ></i> </a
                      ><!--]-->
                    </div>
                    <!--]-->
                  </div>
                </div>
              </div>
            </div>
            <div class="app-header__links desktop-only" data-v-1525a310>
              <!--[--><a
                class="navigation-link navigation-link_active"
                href="{% url 'index' %}"
                data-v-1525a310
                data-v-3141d3ea
                ><!--[--><!----><!--]-->
                Обмен
                <!----><!----></a
              ><a
                class="navigation-link"
                href="{% url 'reviews' %}"
                data-v-1525a310
                data-v-3141d3ea
                ><!--[--><!----><!--]-->
                Отзывы
                <!----><!----></a>
             
            </div>
            <div class="app-header__actions to-desktop" data-v-1525a310>
              <!--[--><!--]--><button
                class="ui-button ui-button--outlined_secondary ui-button--small has-icon app-header__chat-btn app-header__chat-btn--mobile"
                type="button"
                style=""
                data-v-1525a310
              >
                <span class="ui-button__icon"
                  ><!--[--><i class="icon-chat"></i
                  ><!--]--></span
                ><span class="ui-button__content"
                  ><!--[-->
                  24/7
                  <!--]--></span
                ><!----></button
              ><!--[--><!--]--><button
                class="ui-button ui-button--function_secondary is-icon-only has-icon app-header__burger-btn"
                type="button"
                data-v-1525a310
              >
                <span class="ui-button__icon"
                  ><!--[--><i class="icon-burger"></i
                  ><!--]--></span
                ><!----><!---->
              </button>
            </div>
            <div class="app-header__actions desktop-only" data-v-1525a310>
              <!--[--><!--]--><button
                class="ui-button ui-button--outlined_secondary has-icon app-header__chat-btn"
                type="button"
                data-v-1525a310
              >
                <span class="ui-button__icon"
                  ><!--[--><i class="icon-chat"></i
                  ><!--]--></span
                ><span class="ui-button__content"
                  ><!--[-->24/7 Support<!--]--></span
                ><!----></button
              ><!--[--><a
                class="ui-button ui-button--filled_primary has-icon app-header__login-btn"
                href="{% url 'login' %}"
                ><span class="ui-button__icon"
                  ><!--[--><i class="icon-sign-in"></i
                  ><!--]--></span
                ><span class="ui-button__content"><!--[-->Login<!--]--></span
                ><!----></a
              ><!--]-->
              <div
                class="ui-dropdown lang-selector"
                id="lang"
                data-v-1525a310
                data-v-0a96b46f
              >
                <div class="ui-dropdown__wrapper" tabindex="0">
                  <div class="ui-dropdown__control">
                    <!--[-->
                    <div
                      href="/en"
                      target="_external"
                      class="locale-flag locale-flag--active lang-selector__trigger"
                      data-v-0a96b46f
                    >
                      <img
                        class="locale-flag__icon"
                        src="{% static 'lang/en.svg' %}"
                      /><!---->
                    </div>
                    <!--]-->
                  </div>
                  <i class="ui-dropdown__chevron icon-caret-down"></i>
                </div>
                <!---->
                <div style="display: none" class="ui-dropdown__content">
                  <div class="ui-dropdown__handle-wrapper">
                    <div class="ui-dropdown__handle"></div>
                  </div>
                  <div class="ui-dropdown__inner">
                    <!--[--><!--[--><a
                      href="ru.html"
                      target="_external"
                      class="locale-flag"
                      data-v-0a96b46f
                      ><img
                        class="locale-flag__icon"
                        src="{% static 'lang/ru.svg' %}"
                      /><span class="locale-flag__locale">ru</span></a
                    ><a
                      href="en.html"
                      target="_external"
                      class="locale-flag"
                      data-v-0a96b46f
                      ><img
                        class="locale-flag__icon"
                        src="{% static 'lang/en.svg' %}"
                      /><span class="locale-flag__locale">en</span></a
                    ><!--]--><!--]-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      {% block content %}
       {% endblock %}

      <footer class="app-footer" data-v-c75ad7f7>
        <div class="container" data-v-c75ad7f7>
          <div class="app-footer__columns" data-v-c75ad7f7>
            <div class="app-footer__primary-column" data-v-c75ad7f7>
              <img
                class="app-footer__logo"
                src="{% static 'icons/logos/alfabit-exchange.svg' %}"
                draggable="false"
                data-v-c75ad7f7
              />
              <div class="app-footer__socials" data-v-c75ad7f7>
                <!--[--><a
                  class="social-link app-footer__social-link"
                  href="tg://resolve?domain=AlfaBit_news"
                  target
                  data-v-c75ad7f7
                  data-v-577c06d5
                  ><i
                    class="social-link__icon icon-telegram"
                    data-v-577c06d5
                  ></i></a
                ><a
                  class="social-link app-footer__social-link"
                  href="https://www.facebook.com/alfabitcrypto"
                  target="_blank"
                  data-v-c75ad7f7
                  data-v-577c06d5
                  ><i
                    class="social-link__icon icon-facebook-square"
                    data-v-577c06d5
                  ></i></a
                ><a
                  class="social-link app-footer__social-link"
                  href="https://www.instagram.com/alfabit.exchange"
                  target="_blank"
                  data-v-c75ad7f7
                  data-v-577c06d5
                  ><i
                    class="social-link__icon icon-instagram"
                    data-v-577c06d5
                  ></i></a
                ><a
                  class="social-link app-footer__social-link"
                  href="https://twitter.com/alfabit_org"
                  target="_blank"
                  data-v-c75ad7f7
                  data-v-577c06d5
                  ><i
                    class="social-link__icon icon-twitter"
                    data-v-577c06d5
                  ></i></a
                ><a
                  class="social-link app-footer__social-link"
                  href="https://vk.com/alfabit.exchange"
                  target="_blank"
                  data-v-c75ad7f7
                  data-v-577c06d5
                  ><i class="social-link__icon icon-vk" data-v-577c06d5></i></a
                ><a
                  class="social-link app-footer__social-link"
                  href="https://www.linkedin.com/in/alfabit-group-614a58235/"
                  target="_blank"
                  data-v-c75ad7f7
                  data-v-577c06d5
                  ><i
                    class="social-link__icon icon-linked-in"
                    data-v-577c06d5
                  ></i></a
                ><!--]-->
              </div>
              
            </div>
            <div class="app-footer__links-columns" data-v-c75ad7f7>
              <!--[-->
              <div class="footer-column" data-v-c75ad7f7 data-v-c2097194>
                <p class="footer-column__title" data-v-c2097194>Продукты</p>
                <div class="footer-column__links" data-v-c2097194>
                  <!--[--><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/ecosystem"
                    app="group"
                    description="Экосистема AlfaBit Group"
                    fulldescription="ecosystem_products.group_full_description"
                    target="_blank"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit Group
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/pay"
                    app="pay"
                    description="Платежная система"
                    fulldescription="Выставляйте счета, получайте платежи вашего бизнеса в криптовалюте и управляйте ими просто и удобно"
                    target="_blank"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit Pay
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/wallet"
                    app="wallet"
                    description="Мультивалютный криптокошелек"
                    fulldescription="Безопасно и быстро получайте, отправляйте, храните более 1 500 криптовалют в одном месте"
                    target="_blank"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit Wallet
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="tg://resolve?domain=AlfaBitWallet_bot"
                    app="wallet_tg_bot"
                    description="ecosystem_products.wallet_tg_bot_description"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit Wallet TG Bot
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/aml"
                    app="aml"
                    description="Оценка риска крипто-активов"
                    fulldescription="Проверяйте риск кошельков и транзакций, защищайте себя от мошенников и незаконных средств"
                    target="_blank"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit AML
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="tg://resolve?domain=AlfaBitAml_bot"
                    app="aml_tg_bot"
                    description="ecosystem_products.aml_tg_bot_description"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit AML TG Bot
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/exchange"
                    app="exchange"
                    description="Обменник криптовалют"
                    fulldescription="Обменивайте электронные валюты 24/7 быстро, безопасно и по самому выгодному курсу"
                    target="_blank"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit Exchange
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="tg://resolve?domain=AlfaBitExchange_bot"
                    app="exchange_tg_bot"
                    description="ecosystem_products.exchange_tg_bot_description"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit Exchange TG Bot
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/ai"
                    app="ai"
                    description="Искусственный интеллект"
                    fulldescription="ecosystem_products.ai_full_description"
                    target="_blank"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit AI
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="tg://resolve?domain=AlfaBitAI_bot"
                    app="ai_tg_bot"
                    description="ecosystem_products.ai_tg_bot_description"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit AI TG Bot
                    <!----><!----></a
                  ><span
                    class="navigation-link navigation-link_soon footer-column__link footer-column__link"
                    href="#"
                    app="trade"
                    description="Биржа"
                    fulldescription="Криптовалютная биржа"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    AlfaBit Trade
                    <span
                      class="soon-badge navigation-link__soon-badge"
                      data-v-3141d3ea
                      data-v-3512b00f
                      >soon</span
                    ><!----></span
                  ><!--]-->
                </div>
              </div>
              <div class="footer-column" data-v-c75ad7f7 data-v-c2097194>
                <p class="footer-column__title" data-v-c2097194>Компания</p>
                <div class="footer-column__links" data-v-c2097194>
                  <!--[--><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/ecosystem/about-us"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    О нас
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/ecosystem/jobs"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    Вакансии
                    <!---->
                    <div
                      class="new-badge navigation-link__new-badge"
                      data-v-3141d3ea
                      data-v-02824092
                    ></div> </a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/ecosystem/contacts"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    Контакты
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="reviews.html"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    Отзывы
                    <!----><!----></a
                  ><!--]-->
                </div>
              </div>
              <div class="footer-column" data-v-c75ad7f7 data-v-c2097194>
                <p class="footer-column__title" data-v-c2097194>Помощь</p>
                <div class="footer-column__links" data-v-c2097194>
                  <!--[--><a
                    class="navigation-link footer-column__link footer-column__link"
                    event="show-chat"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    Служба поддержки
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/ecosystem/help-center/faq"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    FAQ
                    <!----><!----></a
                  ><a
                    class="navigation-link footer-column__link footer-column__link"
                    href="https://alfabit.org/ru/ecosystem/docs"
                    data-v-c2097194
                    data-v-3141d3ea
                    ><!--[--><!----><!--]-->
                    Юридический центр
                    <!----><!----></a
                  ><!--]-->
                </div>
              </div>
              <!--]-->
            </div>
            <button class="app-footer__to-top" type="button" data-v-c75ad7f7>
              <i class="icon-to-top" data-v-c75ad7f7></i
              ><span data-v-c75ad7f7>Наверх</span>
            </button>
          </div>
          <div
            class="app-footer__socials app-footer__socials--mobile"
            data-v-c75ad7f7
          >
            <!--[--><a
              class="social-link app-footer__social-link"
              href="tg://resolve?domain=AlfaBit_news"
              target
              data-v-c75ad7f7
              data-v-577c06d5
              ><i
                class="social-link__icon icon-telegram"
                data-v-577c06d5
              ></i></a
            ><a
              class="social-link app-footer__social-link"
              href="https://www.facebook.com/alfabitcrypto"
              target="_blank"
              data-v-c75ad7f7
              data-v-577c06d5
              ><i
                class="social-link__icon icon-facebook-square"
                data-v-577c06d5
              ></i></a
            ><a
              class="social-link app-footer__social-link"
              href="https://www.instagram.com/alfabit.exchange"
              target="_blank"
              data-v-c75ad7f7
              data-v-577c06d5
              ><i
                class="social-link__icon icon-instagram"
                data-v-577c06d5
              ></i></a
            ><a
              class="social-link app-footer__social-link"
              href="https://twitter.com/alfabit_org"
              target="_blank"
              data-v-c75ad7f7
              data-v-577c06d5
              ><i class="social-link__icon icon-twitter" data-v-577c06d5></i></a
            ><a
              class="social-link app-footer__social-link"
              href="https://vk.com/alfabit.exchange"
              target="_blank"
              data-v-c75ad7f7
              data-v-577c06d5
              ><i class="social-link__icon icon-vk" data-v-577c06d5></i></a
            ><a
              class="social-link app-footer__social-link"
              href="https://www.linkedin.com/in/alfabit-group-614a58235/"
              target="_blank"
              data-v-c75ad7f7
              data-v-577c06d5
              ><i
                class="social-link__icon icon-linked-in"
                data-v-577c06d5
              ></i></a
            ><!--]-->
          </div>
          <div class="app-footer__bottom-wrapper" data-v-c75ad7f7>
            <div class="app-footer__copyright" data-v-c75ad7f7>
              Все права защищены. © 2018 - 2023
            </div>
            <a
              href="https://safeweb.norton.com/report/show?url=alfabit.org"
              target="_blank"
              data-v-c75ad7f7
              ><img
                src="{% static 'norton_verification.svg' %}"
                alt="Norton verification"
                data-v-c75ad7f7
            /></a>
          </div>
        </div>
      </footer>
      <!--]-->
    </div>
    <div id="modal-point">
      <div class="ui-modal" data-v-b2b6c575>
        <!---->
        <div style="display: none" class="ui-modal__wrapper" data-v-b2b6c575>
          <!--[-->
          <div class="ui-modal__body" data-v-b2b6c575>
            <div class="ui-modal__header" data-v-b2b6c575>
              <!--[-->
              <div class="d-flex align-items-center" data-v-3f6148ed>
                <img
                  class="icon mr8"
                  src="{% static 'icons/other/warning.svg' %}"
                  alt="icon"
                  draggable="false"
                  data-v-3f6148ed
                  data-v-e078f136
                />
                <p data-v-3f6148ed>Условия обмена на</p>
              </div>
              <!--]--><!--[--><button
                class="ui-button ui-button--filled_secondary is-icon-only has-icon ui-modal__close-btn"
                type="button"
                data-v-b2b6c575
              >
                <span class="ui-button__icon"
                  ><!--[--><i class="icon-close"></i
                  ><!--]--></span
                ><!----><!----></button
              ><!--]-->
            </div>
            <div class="ui-modal__content" data-v-b2b6c575>
              <!--[-->
              <div class="mb16" data-v-3f6148ed></div>
              <div data-v-3f6148ed></div>
              <!--]-->
            </div>
            <div class="ui-modal__footer" data-v-b2b6c575>
              <!--[--><button
                class="ui-button ui-button--filled_primary is-loading exchange-box__form__confirm-box__submit-btn"
                type="submit"
                id="confirm-order-btn"
                data-v-3f6148ed
              >
                <!----><span class="ui-button__content"
                  ><!--[-->Обменять<!--]--></span
                ><span class="ui-button__loader"
                  ><!--[-->
                  <div class="ui-spinner" style="--2699ac96: 3s">
                    <svg class="ui-spinner__circle-wrapper">
                      <circle
                        class="ui-spinner__circle"
                        cx="50%"
                        cy="50%"
                        r="45%"
                      ></circle>
                      <circle
                        class="ui-spinner__inner"
                        cx="50%"
                        cy="50%"
                        r="45%"
                      ></circle></svg
                    ><!---->
                  </div>
                  <!--]-->
                </span></button
              ><!--]-->
            </div>
          </div>
          <!--]-->
        </div>
      </div>
      <!--teleport anchor-->
    </div>
    <div id="snackbar-list" class="is-right"></div>
    <div id="sidebar-point"><!----><!--teleport anchor--></div>
    <script
      type="module"
      src="{% static 'assets/entry-client-routing.6e1d42d3.js' %}"
      defer
    ></script>
    <link
      rel="modulepreload"
      href="{% static 'assets/pages/index/index.page.ae90e716.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/shared-pages/exchange/index.page.d59e8e54.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-a64ca6aa.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-e8d35fff.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-e3b6086f.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-854711a0.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-7788d5c4.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-b2d14c09.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-b247637b.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-e33f88ff.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-f868c71a.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-dd84edba.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-15d6d7fe.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-24cdc0a8.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/renderer/_default.page.client.aaf3bd29.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-21e81171.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-eebd74bc.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-ab183a82.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-47a5e6ff.js' %}"
      as="script"
      type="text/javascript"
    />
    <link
      rel="modulepreload"
      href="{% static 'assets/chunk-539dc9f8.js' %}"
      as="script"
      type="text/javascript"/>
   
  </body>
</html>
